n8n-workflows/whatsapp-bot-simple.json
{
  "name": "WhatsApp Bot Simple",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer el mensaje del webhook\nconst message = $input.item.json.message || 'Hola';\nconst contactPhone = $input.item.json.contactPhone || '';\nconst contactName = $input.item.json.contactName || 'Usuario';\n\n// Preparar el prompt para OpenAI\nconst prompt = `Eres un asistente virtual amigable y profesional. Responde de manera concisa y útil.\n\nUsuario: ${message}\n\nAsistente:`;\n\nreturn {\n  json: {\n    message: message,\n    contactPhone: contactPhone,\n    contactName: contactName,\n    prompt: prompt\n  }\n};"
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente virtual amigable y profesional. Responde de manera concisa y útil en español."
            },
            {
              "role": "user",
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 150
        }
      },
      "id": "openai-chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer la respuesta de OpenAI\nconst openaiResponse = $input.item.json.choices?.[0]?.message?.content || \n                       $input.item.json.message?.content || \n                       $input.item.json.text ||\n                       'Hola, ¿en qué puedo ayudarte?';\n\n// Formatear la respuesta para el backend\nreturn {\n  json: {\n    response: openaiResponse.trim(),\n    needsHuman: false,\n    confidence: 0.9\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-12T16:55:00.000Z",
  "versionId": "1"
}
